<!DOCTYPE html>
<html lang="ru">

<head>
    <th:block th:insert="~{fragments/head :: head-block}"/>
    <title>Register | Cloud Storage</title>
</head>

<body class="d-flex flex-column min-vh-100">
<div th:replace="~{fragments/header :: header}"></div>
<main class="container col-md-8 col-lg-6 col-xl-4 col-xxl-3 m-auto auth-container">
    <form class="text-center auth-form auth-shadow border rounded-3 p-4" id="auth-form" th:action="@{/auth/register}" th:object="${user}" method="post">
        <h2>Register</h2>
        <div class="form-group mt-4 text-start">
            <label class="mb-1" for="login">Username:</label>
            <input id="login" th:field="*{username}" name="username" type="text" class="form-control" required placeholder="Enter username">
            <p class="error-color" th:each="error: ${#fields.errors('username')}" th:text="${error}">Error</p>
        </div>
        <div class="form-group mt-2 text-start">
            <label class="mb-1" for="password">Password:</label>
            <input id="password" th:field="*{password}" name="password" type="password" class="form-control" required placeholder="Enter password">
            <p class="error-color" th:each="error: ${#fields.errors('password')}" th:text="${error}">Error</p>
        </div>
        <div class="form-group mt-2 text-start">
            <label class="mb-1" for="passwordConfirmation">Password confirmation:</label>
            <input id="passwordConfirmation" th:field="*{passwordConfirmation}" name="passwordConfirmation" type="password" class="form-control" required placeholder="Enter password">
            <p class="error-color" th:each="error: ${#fields.errors('passwordConfirmation')}" th:text="${error}">Error</p>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Register</button>
        <p class="mt-4 text-muted mb-0">Already have an account? <a th:href="@{/auth/login}" class="text-primary fw-bold">Login</a></p>
    </form>
</main>
<script th:replace="~{fragments/scripts :: theme}"></script>
</body>

</html>