a {
  color: inherit;
}

body {
  padding-top: 6rem;
}

.validation-error {
  color: red;
  margin-top: 0.25rem;
}

.outline-none {
  outline: none;
}

.theme-switcher {
  transition: 0.3s ease-in-out;
}

.theme-switcher:hover {
  transform: scale(0.9);
}

.theme-switcher:active {
  transform: scale(0.8);
}

.auth-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.explorer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
  gap: 1rem;
}

.explorer-wrapper {
  border-radius: 1rem;
}

.explorer-item {
  position: relative;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.item-icon {
  width: 100%;
}

.explorer-item img {
  pointer-events: none;
  user-select: none;
}

.explorer-item--selected {
  border-color: rgb(4, 149, 212);
}

.explorer-item:hover {
  transform: scale(1.05);
  border-color: rgb(4, 149, 212);
  z-index: 2;
}

.explorer-item:hover .item-dots {
  visibility: visible;
  opacity: 1;
}

.item-dots {
  position: absolute;
  right: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.seacher-input {
  border: none;
  transition: 0.3s ease-in-out;
  border-bottom: 1px rgba(var(--bs-body-color-rgb), .4) solid;
}

.seacher-input:focus {
  border-color: var(--bs-body-color);
}

.drag-n-drop-background {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.drag-n-drop-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 10000;
}

.file-drop-area {
  margin: 1rem auto;
  content: '';
  padding: 2rem;
  border: 2px solid;
  border-radius: 2rem;
  aspect-ratio: 1.0;
}

.file-drop-area--animated {
  animation: file-drop-anim 2s ease-in-out infinite;
}

.upload-block {
  position: relative;
  display: inline-block;
}

.upload-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.upload-input-button {
  position: relative;
  display: inline-block;
}

@keyframes file-drop-anim {
  25% {
    padding: 1.5rem;
    padding-bottom: 2rem;
  }
  50% {
    padding: 2rem;
    padding-bottom: 3rem;
  }
  75% {
    padding: 1.5rem;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1920px) {
  .auth-container {
    max-width: 20%;
  }
}

@media screen and (max-width: 444px) {
  .header-name {
    display: none;
  }
}